.products-container {
    margin: 20px auto;
    padding: 24px;
    background-color: #f7fafc; /* Gray-100 */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .products-title {
    font-size: 2rem; /* text-3xl */
    font-weight: bold; /* font-bold */
    margin-bottom: 24px; /* mb-6 */
    color: #2d3748; /* Gray-800 */
  }
  
  .search-input {
    width: 100%; /* w-full */
    padding: 12px; /* p-3 */
    border: 1px solid #cbd5e0; /* border-gray-300 */
    border-radius: 4px; /* rounded-md */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s, box-shadow 0.2s;
  }
  
  .search-input:focus {
    border-color: #3182ce; /* border-blue-500 */
    box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.5); /* focus:ring-blue-500 */
  }
  
  .table-container {
    background-color: white; /* bg-white */
    border-radius: 8px; /* rounded-lg */
    overflow: hidden; /* overflow-hidden */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .products-table {
    width: 100%; /* min-w-full */
    border-collapse: collapse; /* Elimina el espacio entre bordes */
  }
  
  .table-header {
    background-color: #edf2f7; /* bg-gray-50 */
  }
  
  .table-header th {
    padding: 12px; /* px-6 py-3 */
  }
  
  .createbutton {
    background-color: lightblue; /* Verde */
    color: white;
    border: none;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px; /* Ajustar padding para el botón */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  .createbutton:hover {
    background-color: #3182ce; /* Cambia el color de fondo al pasar el mouse */
  }
   